body {
  margin: 0px;
  font-family: sans-serif;
}

.navbar {
  background-image: linear-gradient(hotpink, indigo, indianred);
  padding: 15px;
  color: white;
  vertical-align: center;
}

.navbar-item {
  padding-left: 10px
}

.logo {
  font-size: 25px;
  color: lightskyblue;
}